/* .li-link {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 17px;
    padding: 8px 1px;
    margin-top: 8px;
    color: rgb(10, 3, 47);
    border-bottom: 1px solid rgb(10, 3, 47);;
} */